<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title مروانو | پنل ادمین
        link(rel="stylesheet", href="/css/bootstrap.min.css")
        style * { text-align: right; direction: rtl;} .container { padding: 50px;}

    body
        .container 
            block content