doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title مروانو من | داشبورد
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v26.0.2/dist/font-face.css")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
        link(rel="stylesheet", href="/css/dashboardStyle.css")
    body
        .main
            .main-sidebar
                ul
                    p مدیریت سفارشات
                    li
                        a(href="/admin/orders")  مشاهده سفارشات

            .main-content
                block content