extends layout
block content
    h1 ثبت سفارش جدید
    br
    form(method="POST", action="/dashboard/orders/create")
        .form-group
            label لینک محصول مورد نظر :
            input.form-control(type="text", name="link_address")
        .form-group
            label توضیحات :
            textarea.form-control(name="description")
        input.btn.btn-success(type="Submit", value="ثبت")

