* {
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
    font-family: Vazir;
}

html , body {
    height: 100%;
}
.main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #59886b;
}

.main-content {
    padding: 50px;
    background-color: #fff;
    border-radius: 10px;
}