* {
    margin: 0;
    padding: 0;
    text-align: right;
    direction: rtl;
    font-family: Vazir;
}

html , body {
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1d3557;
    color: #fff;
    align-items: center;
    padding: 20px;
}

.header li {
    display: inline;
}

.container {
    padding: 50px;
}